<div class="container" style="
    width: 1000px;
">
    <table class="table table table-striped">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Property Name</th>
                    <th scope="col">Size</th>
                    <th scope="col">Descriptions</th>
                    <th scope="col">Delete</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let item of listOfProperty.records; let i = index" [attr.data-index]="i">
                    <th scope="row">{{i+1}}</th>
                    <td>{{item.fields.Property_name}}</td>
                    <td>{{item.fields.Size}}</td>
                    <td>{{item.fields.Descriptions}}</td>
                    <td><button class="btn btn-primary" type="button" (click)="deleteProperty(item.id)" id="{{item.id}}">Delete</button></td>
                </tr>
                
            </tbody>
    </table>
</div>