<div class="container" style="
    outline: dotted;
    width: 500px;
    padding-bottom: 20px;
">
    <form action="" (ngSubmit) = "collectData()">
        <div class="mb-3">
            <label for="Property_name" class="col-form-label">Property Name</label>
            <div class="col">
                <input type="text" class="form-control"  aria-label="Property name" [(ngModel)]="formData.Property_name" name="Property_name">
            </div>    
        </div>

        <div class="mb-3 row">
            <label for="size" class="col-form-label">Size</label>
            <div>
                <input class="form-control" [(ngModel)]="formData.Size" name="Size">
            </div>
        </div>

        <div class="mb-3">
            <label for="Descriptions" class="form-label">Descriptions</label>
            <textarea class="form-control"  rows="3" [(ngModel)]="formData.Descriptions" name="Descriptions"></textarea>
        </div>

        <div class="container" style="width: fit-content;">
            <button class="btn btn-primary">Add New Property</button>
        </div>
    </form>
</div>